data
pretrained
results
runs
runs_old
.vscode
.conda
checkpoint
soundclip/vggsound_curation
soundclip/wandb
soundclip/pretrained
soundclip/vggsound_download_split
soundclip_copy
__pycache__
sgdc_data
precomputed
wandb
*.ipynb
.env